$backgroundColor: #4649FF;

$fontVars: (
    "color": #3C4048,
    "font": 'Open Sans', 
    "size": 1.6rem
);

$tasksVars: (
    "background": #DDDDDD,
    "specialFontColor": #eee,
    "listItemColor": #ECECEC,
);

$labelVars: (
    "default":#379237,
    "purple": #A03C78,
    "orange": #E26A2C,
    "blue": #0E9AA7,
    "red": #C21010,
);
